<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>{{ title }}</title>
    <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="{{ url_for("static", file="JS/ajax.js") }}"></script>
</head>
<body>

<form action="{{ url_for("upload") }}" name="file_upload" enctype="multipart/form-data" method="POST">
    <input type="text" name="hash_id">
    <input type="text" name="username">
    <input type="file" name="file_name">
    <input type="submit" name="submit_button" value="전송">
</form>

</body>
</html>